@using Novel.Utilities
@using Novel.Entity.ViewModels
@{
    ViewData["Title"] = "我的书架";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .cr {
        color: orangered;
    }

    .pure-table tr td a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .del {
        font-size: 0.8em;
    }
</style>
<div class="pure-g btitle fr">
    <div class="pure-u-1">
        <h2 class="content-subhead">我的书架</h2>
    </div>
    @{ var mybookShelves = ViewData["BookShelves"] as PaginatedList<MyBookShelfViewModel>;}
    @if (mybookShelves != null)
    {
        <div class="pure-u-1">
            <table class="pure-table  pure-table-bordered" style="width:100%;">
                <thead>
                    <tr>
                        <th style="max-width:240px;min-width:240px;">书名</th>
                        <th style="max-width:250px;min-width:250px">阅读进度</th>
                        <th style="width:8%;text-align:center;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in mybookShelves)
                    {
                        <tr>
                            <td><a href="@item.bookurl"> @item.bookname</a>(<small class="cr">@item.bookauthor</small>) </td>
                            @*<td><a href="@item.currentitemurl">@item.currentitemname</a></td>*@
                            <td><a href="@item.currentitemurl">@item.currentitemname</a></td>
                            <td style="text-align:center;"><a href="javascript:" class="del" onclick="del(this,@item.id,1)">删除</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    <div class="pure-u-1">
        <h2 class="content-subhead">最近阅读</h2>
        <table class="pure-table  pure-table-bordered" style="width:100%;">
            <thead>
                <tr>
                    <th style="max-width:240px;min-width:240px;">书名</th>
                    <th style="max-width:250px;min-width:250px">阅读进度</th>
                    <th style="width:8%;text-align:center;">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewData["HistoryReadBooks"] as List<BookReadViewModel>)
                {
                    <tr>
                        <td><a href="@item.bookurl"> @item.bookname</a>(<small class="cr">@item.bookauthor</small>) </td>
                        @*<td><a href="@item.currentitemurl">@item.currentitemname</a></td>*@
                        <td><a href="@item.currentitemurl">@item.currentitemname</a></td>
                        <td style="text-align:center;"><a href="javascript:" class="del" onclick="del(this,@item.id,2)">删除</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script>
        function del(obj,id, type) {

            var url = "@Url.Action("RemoveBookRecord", "Book")";
            $.post(url, { id: id,type:type }, function (rs) {
                if (rs && rs.status == 0) {
                    $($(obj).parent().parent()).remove();
                }
                else {
                    alert(rs.msg);
                }
            });
        }

    </script>
</div>

