@using Novel.Entity.ViewModels
@{
    ViewData["Title"] = "我的书架";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .cr{
        color:orangered;
    }
</style>
<div class="pure-g btitle fr">
    <div class="pure-u-1">
        <h2 class="content-subhead">我的书架</h2>
    </div>
    <div class="pure-u-1-4">
        <div class="novel">
        </div>

    </div>
    <div class="pure-u-1">
        <h2 class="content-subhead">我的阅读历史</h2>
        <table class="pure-table  pure-table-bordered" style="width:100%;">
            <thead>
                <tr>
                    <th>#</th>
                    <th style="width:28%;">书名</th>
                    <th style="width:30%">阅读进度</th>
                    <th style="width:30%">最近更新章节</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @{ int count = 1; }
                @foreach (var item in ViewData["HistoryReadBooks"] as List<BookReadViewModel>)
                {

                    <tr>
                        <td>@count</td>
                        <td><a href="@item.bookurl"> @item.bookname</a>(<small class="cr">@item.bookauthor</small> ) </td>
                        <td><a href="@item.currentitemurl">@item.currentitemname</a></td>
                        <td><a href="@item.lasitemurl">@item.lastitemname</a></td>
                        <td>
                            <a href="@item.currentitemurl">
                                <small>删除</small>
                            </a>
                        </td>
                    </tr>
                    count = count + 1;
                }
            </tbody>
        </table>
    </div>

</div>

