@using System.Web
@model Novel.Entity.Models.ContentViewModel
@{
}
<style>
    .btitle {
        border: 2px solid white;
        border-radius: 5px;
        padding: 20px 10px;
        margin: 10px 0px;
    }

    .at {
        font-size: 17px;
    }
    .ncontent
    {
        width:85%;
        line-height:2em;
        margin:0 auto;
    }
</style>
<div class="pure-g">
    
    <div class="pure-u-1 fr" style="margin-top:10px;">
        <div class="pure-u-1" style="padding:10px;">
            <a href="@Url.Action("Novel",new { id=Model.BookId })" class="at"> @Model.BookName</a>&nbsp;/<a href="@Url.Action("Content",new { itemId=Model.ItemId })" class="at"> @Model.ItemName</a>
        </div>
        <div class="pure-u-1" style="text-align:center;"><h2 class="content-subhead">@Model.ItemName</h2></div>

        <div class="pure-u-1">
            <hr style="border-top:1px #808080 dashed ;">
        </div>
        <div class="pure-u-1">
            <div class="ncontent">
                @Html.Raw(HttpUtility.HtmlDecode(Model.Content))
            </div>
        </div>
    </div>
</div>