@using System.Web
@model Novel.Entity.Models.ContentViewModel
@using Novel.Entity.ViewModels
@{
    //颜色集合
    var bgColors = new List<BGReadColorViewModel> {
                    new BGReadColorViewModel{ color="rgba(250,245,235,.8)",colortitle="默认" },
                    new BGReadColorViewModel{ color="#F6EDD4",colortitle="牛皮纸" },
                    new BGReadColorViewModel{ color="#EBF5E9",colortitle="淡绿色" },
                    new BGReadColorViewModel{ color="#F6E8E7",colortitle="淡粉色" },
                    new BGReadColorViewModel{ color="#E6E6E4",colortitle="灰色" }
                };
    var selectedColor = "";
    selectedColor = string.IsNullOrWhiteSpace(selectedColor) ? bgColors.First().color : selectedColor;
    //字体集合
    var fontFamilies = new Dictionary<string, string> { {  "默认",  "Microsoft YaHei" },
{  "楷书",  "Kaiti" }};
    var selectedFontFamily = "";

    selectedFontFamily = string.IsNullOrWhiteSpace(selectedFontFamily) ? fontFamilies.First().Key : selectedFontFamily;

    var fontSize = 0;
    fontSize = fontSize == 0 ? 16 : fontSize;
    var fontSizeStr = fontSize + "px";
}

<link href="~/css/content.css" rel="stylesheet" />
<script src="~/js/content.js"></script>
<div class="pure-g">
    <div class="pure-u-1 fr" style="margin-top:10px;box-shadow: 0 5px 20px rgba(0,0,0,.2);background-color:@selectedColor" id="icontent">
        <div class="pure-u-1" style="padding:10px;">
            <a href="@Url.Action("Novel",new { id=Model.BookId })" class="f14"> @Model.BookName</a>&nbsp;/<a href="@Url.Action("Content",new { itemId=Model.ItemId })" class="f14"> @Model.ItemName</a>
        </div>
        <div class="pure-u-1" style="text-align:center;"><h2 class="content-subhead">@Model.ItemName</h2></div>

        <div class="pure-u-1">
            <div>
                <div class="ncontent" style="font-family:@fontFamilies[selectedFontFamily];font-size:@fontSizeStr">
                    @Html.Raw(HttpUtility.HtmlDecode(Model.Content))
                </div>
                <div class="nfooter">
                    @if (Model.PreId > 0)
                    {
                        <a class="f14" id="pre" href="@Url.Action("Content",new { itemId=Model.PreId })" title="@Model.BookName-@Model.PreItemName">上一章</a>
                    }
                    @if (Model.NextId > 0)
                    {
                        <a class="f14" id="next" href="@Url.Action("Content",new { itemId=Model.NextId })" title="@Model.BookName-@Model.NextName">下一章</a>
                    }

                </div>
            </div>

        </div>
    </div>
    <div class="bar-list">
        <div class="top-bar">
            <a class="mp mp-buttom" id="setting" style="display:inline-block;width:20px;height:20px;">
                <img src="~/files/setting.png" style="width:100%" />
            </a>
            <a class="mp mp-buttom" href="#footer" style="display:block;">
                <img src="~/files/mp-bottom.png" style="width:100%" />
            </a>
            <a class="mp mp-top" href="#container" style="display:none;">
                <img src="~/files/mp-top.png" style="width:100%" />
            </a>
        </div>
    </div>
    <div class="c-setting">
        <h3 class="content-subhead">设置</h3>
        <div class="close">
            <a>
                <img src="~/files/guanbi.png" style="width:100%;" />
            </a>
        </div>
        <table class="pure-table tbnb customertb">
            <tr>
                <td>阅读背景</td>
                <td>

                    @foreach (var item in bgColors)
                    {
                        if (item.color == selectedColor)
                        {
                            <a onclick="bgselected(this)" class="rbd rbgselected " style="background-color: @item.color;" title="@item.colortitle" />
                        }
                        else
                        {
                            <a onclick="bgselected(this)" class="rbd  " style="background-color: @item.color;" title="@item.colortitle" />
                        }

                    }
                </td>
            </tr>
            <tr>
                <td>字体</td>
                <td>
                    @foreach (var item in fontFamilies)
                    {
                        if (selectedFontFamily == item.Key)
                        {
                            <a onclick="afselected(this,'@item.Value')" class="af afs" title="@item.Key">@item.Key</a>
                        }
                        else
                        {
                            <a onclick="afselected(this,'@item.Value')" class="af " title="@item.Key">@item.Key</a>
                        }
                    }
                </td>
            </tr>
            <tr>
                <td>字体大小</td>
                <td>
                    <a class="fs" onclick="cfontSize('-')">
                        <img src="~/files/zitijian.png" style="width:100%" />
                    </a>
                    <span class="sfs">16</span>
                    <a class="fs" style="margin-left:0px;" onclick="cfontSize('+')">
                        <img src="~/files/zitijia.png" style="width:100%" />
                    </a>
                </td>
            </tr>
        </table>
    </div>

</div>