@using System.Web
@model Novel.Entity.Models.ContentViewModel
@using Novel.Entity.ViewModels
@{
    //颜色集合
    var bgColors = new List<BGReadColorViewModel> {
                                    new BGReadColorViewModel{ color="rgba(250,245,235,.8)",colortitle="默认" },
                                    new BGReadColorViewModel{ color="#F6EDD4",colortitle="牛皮纸" },
                                    new BGReadColorViewModel{ color="#EBF5E9",colortitle="淡绿色" },
                                    new BGReadColorViewModel{ color="#F6E8E7",colortitle="淡粉色" },
                                    new BGReadColorViewModel{ color="#E6E6E4",colortitle="灰色" }
                                };
    var selectedColor = "";
    selectedColor = string.IsNullOrWhiteSpace(selectedColor) ? bgColors.First().color : selectedColor;
    //字体集合
    var fontFamilies = new Dictionary<string, string> { {  "默认",  "Microsoft YaHei" },
{  "楷书",  "Kaiti" }};
    var selectedFontFamily = "";

    selectedFontFamily = string.IsNullOrWhiteSpace(selectedFontFamily) ? fontFamilies.First().Key : selectedFontFamily;

    var fontSize = 0;
    fontSize = fontSize == 0 ? 16 : fontSize;
    var fontSizeStr = fontSize + "px";
}
<style>
    .btitle {
        border: 2px solid white;
        border-radius: 5px;
        padding: 20px 10px;
        margin: 10px 0px;
    }

    .f14 {
        font-size: 14px;
    }

    .ncontent {
        width: 80%;
        margin: 0 auto;
        line-height: 2em;
    }

    .nfooter {
        width: 80%;
        text-align: center;
        margin: 5% 0px 1% 0px;
    }

        .nfooter a {
            margin: 0px 20px;
        }

    a {
        cursor: pointer;
    }
</style>
<div class="pure-g">
    <div class="pure-u-1 fr" style="margin-top:10px;box-shadow: 0 5px 20px rgba(0,0,0,.2);background-color:@selectedColor" id="icontent">
        <div class="pure-u-1" style="padding:10px;">
            <a href="@Url.Action("Novel",new { id=Model.BookId })" class="f14"> @Model.BookName</a>&nbsp;/<a href="@Url.Action("Content",new { itemId=Model.ItemId })" class="f14"> @Model.ItemName</a>
        </div>
        <div class="pure-u-1" style="text-align:center;"><h2 class="content-subhead">@Model.ItemName</h2></div>

        <div class="pure-u-1">
            <div>
                <div class="ncontent" style="font-family:@fontFamilies[selectedFontFamily];font-size:@fontSizeStr">
                    @Html.Raw(HttpUtility.HtmlDecode(Model.Content))
                </div>
                <div class="nfooter">
                    @if (Model.PreId > 0)
                    {
                        <a class="f14" id="pre" href="@Url.Action("Content",new { itemId=Model.PreId })" title="@Model.BookName-@Model.PreItemName">上一章</a>
                    }
                    @if (Model.NextId > 0)
                    {
                        <a class="f14" id="next" href="@Url.Action("Content",new { itemId=Model.NextId })" title="@Model.BookName-@Model.NextName">下一章</a>
                    }

                </div>
            </div>

        </div>
    </div>
    <div class="bar-list">
        <div class="top-bar">
            <a class="mp mp-buttom" id="setting" style="display:inline-block;width:20px;height:20px;">
                <img src="~/files/setting.png" style="width:100%" />
            </a>
            <a class="mp mp-buttom" href="#footer" style="display:block;">
                <img src="~/files/mp-bottom.png" style="width:100%" />
            </a>
            <a class="mp mp-top" href="#container" style="display:none;">
                <img src="~/files/mp-top.png" style="width:100%" />
            </a>
        </div>
    </div>
    <div class="c-setting">
        <h3 class="content-subhead">设置</h3>
        <div class="close">
            <a>
                <img src="~/files/guanbi.png" style="width:100%;"/>
            </a>
        </div>
        <table class="pure-table tbnb customertb">
            <tr>
                <td>阅读背景</td>
                <td>

                    @foreach (var item in bgColors)
                    {
                        if (item.color == selectedColor)
                        {
                            <a onclick="bgselected(this)" class="rbd rbgselected " style="background-color: @item.color;" title="@item.colortitle" />
                        }
                        else
                        {
                            <a onclick="bgselected(this)" class="rbd  " style="background-color: @item.color;" title="@item.colortitle" />
                        }

                    }
                </td>
            </tr>
            <tr>
                <td>字体</td>
                <td>
                    @foreach (var item in fontFamilies)
                    {
                        if (selectedFontFamily == item.Key)
                        {
                            <a onclick="afselected(this,'@item.Value')" class="af afs" title="@item.Key">@item.Key</a>
                        }
                        else
                        {
                            <a onclick="afselected(this,'@item.Value')" class="af " title="@item.Key">@item.Key</a>
                        }
                    }
                </td>
            </tr>
            <tr>
                <td>字体大小</td>
                <td>
                    <a class="fs" onclick="cfontSize('-')">
                        <img src="~/files/zitijian.png" style="width:100%" />
                    </a>
                    <span class="sfs">16</span>
                    <a class="fs" style="margin-left:0px;" onclick="cfontSize('+')">
                        <img src="~/files/zitijia.png" style="width:100%" />
                    </a>
                </td>
            </tr>
        </table>
    </div>

</div>
<style>
    .customertb tr td:first-child {
        padding: 20px 0px 20px 20px;
        text-align: right;
    }

    .c-setting {
        position: fixed;
        margin-left: 15%;
        background: #FAF9F3;
        z-index: 9999;
        width: 40%;
        letter-spacing: 0em;
        border-radius: 10px;
        box-shadow: 0 5px 20px rgba(0,0,0,.2);
    }

        .c-setting table {
            font-size: 14px;
        }
    .close{
        position:absolute;
        right:20px;
        top:10px;
    }
        .close a{
            width:30px;
            height:30px;
            display:block;
        }
        .rbd {
            border: 1px solid #e6e6e6;
            border-radius: 25px;
            padding: 5px 14px;
            margin-right: 20px;
            margin-left: 15px;
        }
    .rbgselected {
        background-image: url(/files/selected.png);
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .af {
        padding: 10px 15px;
        margin-left: 15px;
        border: 1px #e6e6e6 solid;
    }

    .afs {
        background-color: #e6e6e6;
    }

    .fs {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-left: 15px;
    }

    .sfs {
        text-align: center;
        vertical-align: top;
        line-height: 30px;
        height: 30px;
        width: 40px;
        display: inline-block;
        font-family: Microsoft YaHei;
        color: #a6a6a6;
        font-size: 18px;
        font-weight: 400;
    }
</style>
<script type="text/javascript">
    $(document).keyup(function (event) {
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if (e.keyCode == 37 && $("#pre")) {
            $("#pre")[0].click();
        }
        else if (e.keyCode == 39 && $("#next")) {
            $("#next")[0].click();
        }
    });
    //判断滚动条是否到达窗口底部
    $(window).bind('scroll', function () {    //绑定滚动事件
        var h = $("#header").height() + 100;
        if ($(document).scrollTop() >= h) {
            $(".mp-top").show();
            $(".left-bar").css("top", "0px");
        }
        else {
            $(".left-bar").css("top", "180px");
            $(".mp-top").hide();
        }
    });

    function bgselected(obj) {
        $(".rbgselected").removeClass("rbgselected");
        $(obj).addClass("rbgselected");
        $("#icontent").css("background-color", $(obj).css("background-color"))
    }
    function afselected(obj, val) {
        $(".afs").removeClass("afs");
        $(obj).addClass("afs");
        $(".ncontent").css("font-family", val);
    }
    function cfontSize(str) {
        var fontSize = parseInt($(".sfs").html());
        if (str == "+") {
            fontSize += 2;
        } else {
            fontSize -= 2;
        }
        if (fontSize < 16) {
            fontSize = 16;
        }
        else if (fontSize > 26) {
            fontSize = 26;
        }
        $(".sfs").html(fontSize);
        $(".ncontent").css("font-size", fontSize + "px");
    }
</script>