@model Novel.Entity.Models.IndexViewModel
@{
    Layout = "_Layout";
}
<div class="pure-g">
    <div class="pure-u-1">
        <h2 class="content-subhead">玄幻奇幻</h2>
    </div>
</div>
<div class="pure-g">
    @foreach (var item in Model.Fantasy)
    {
        <div class="pure-u-1-4">
            <div class="novel">
                @Url.Action("")
                <a href="@Url.Action("Novel",new { id=item.BookId })" title="@item.BookSummary">
                    <img class="img" src="@item.BookImage">
                </a>
                <p class="title" title="@item.BookSummary">
                    <a href="@Url.Action("Novel",new { id=item.BookId })">
                        @item.BookName
                    </a>

                </p>
            </div>

        </div>
    }
</div>
