@using Novel.Entity.Models
@using Novel.Entity.ViewModels
@using Novel.Utilities
@model NovelViewModel
@{
    Layout = "_Layout";
}
<script src="~/js/lexp.js"></script>
<script src="~/js/linq.js"></script>
<script src="~/js/jquery.mloading.js"></script>
<style>
    .item {
        height: 40px;
    }

        .item a {
            margin-left: 10%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
        }

    .ca {
        background-color: #FD8000;
        padding: 10px 20px;
        color: white !important;
    }

    .bg-gray {
        background-color: #e6e6e6;
        color: black !important;
    }

    .title {
        font-size: 14px;
        padding: 5px 15px;
    }
</style>

<div class="pure-g  fr">
    <div class="pure-u-1 title">
        <a href="//www.shukelai.com">首页</a>&nbsp;/
        @if (Model.BookCategory != null)
        {
            <text>  <a href="@Url.Action("Category","Index",new { category=Pinyin.GetPinYin(Model.BookCategory.CategoryName)})">@Model.BookCategory.CategoryName</a>&nbsp;/</text>
        }
        @{string title = Model.Book.BookName + "最新章节";}
        <span> @title</span>
    </div>

    <div class="pure-u-1-4">
        <div class="novel">
            <img class="img" src="@Model.Book.BookImage">
        </div>
    </div>
    <div class="pure-u-3-4">
        <table class="pure-table tbnb">
            <tbody>
                <tr>
                    <td colspan="2">
                        <h2 class="content-subhead" style="margin:0px;">@Model.Book.BookName</h2>
                    </td>
                </tr>
                <tr>
                    <td>作者</td>
                    <td>@Model.Book.BookAuthor</td>
                </tr>
                <tr>
                    <td>最后更新时间</td>
                    <td>@Model.Book.UpdateTime</td>
                </tr>
                <tr>
                    <td>状态</td>
                    @{
                        string state = Model.Book.BookState.HasValue && Model.Book.BookState.Value == 1 ? "完结" : "连载中";
                    }
                    <td>@state</td>
                </tr>
                <tr>
                    <td>最新章节</td>
                    @{
                        BookItemViewModel lastItem = Model.Items.OrderByDescending(m => m.ItemId).FirstOrDefault();
                    }
                    <td>
                        @if (lastItem != null)
                        {
                            <a href="@Url.Action("Content", new { itemId = lastItem.ItemId })">@lastItem.ItemName</a>
                        }

                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @{
                            bool isaddbook = (bool)ViewData["isshelf"];
                            string txt = isaddbook ? "已入书架" : "加入书架";
                            string attclass = isaddbook ? "ca bg-gray" : "ca";

                        }
                        <a class="@attclass" href="javascript:" id="bookshelf">@txt</a>
                        @{
                            bool isThumbsup = Model.IsThumbsup;
                            txt = isThumbsup ? "已推荐" : "推荐此书";
                            attclass = isThumbsup ? "ca bg-gray" : "ca";
                        }
                        <a class="@attclass" href="javascript:" id="bookthumbsup">@txt</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pure-u-1-4"></div>
    <div class="pure-u-3-4">
        <hr style="border-top:1px #808080 dashed ;" />
    </div>

    <div class="pure-u-1-4"></div>
    <div class="pure-u-3-4">
        @Html.Raw(Model.Book.BookSummary)
    </div>
</div>
<div class="pure-g btitle fr">
    @foreach (var item in Model.Items)
    {
        <div class="pure-u-1-2 item">
            <a href="@Url.Action("Content",new { itemId=item.ItemId })" title="@item.ItemName">
                @item.ItemName
            </a>
        </div>
    }

</div>
<div class="bar-list">
    <div class="top-bar">
        <a class="mp mp-buttom" href="#footer" style="display:block;">
            <img src="~/files/mp-bottom.png" style="width:100%" />
        </a>
        <a class="mp mp-top" href="#container" style="display:none;">
            <img src="~/files/mp-top.png" style="width:100%" />
        </a>
    </div>
</div>
<script>

    $(function () {


    @if (!isaddbook)
    {
        <text>
         id = @Model.Book.BookId;
        $("#bookshelf").click(function () {
            var url = "@Url.Action("BookShelf", "Book")";
        $.post(url, { id: id }, function(rs) {
            if (rs && rs.status == 0) {
                $('#bookshelf').unbind("click");
                $("#bookshelf").html("已入书架")
                $("#bookshelf").addClass("bg-gray");
            }
            else {
                alert(rs.msg);
            }
            });
    });
    </text>
    }
        @if (!isThumbsup) {
            <text>
        id = @Model.Book.BookId;
        $("#bookthumbsup").click(function () {
                url = "@Url.Action("Thumbsup", "Book")";
                $.post(url, { id: id }, function (rs) {
                    if (rs && rs.status == 0) {
                        $('#bookthumbsup').unbind("click");
                        $("#bookthumbsup").html("已推荐")
                        $("#bookthumbsup").addClass("bg-gray");
                    }
                });
            });
            </text>
        }



    });

    //判断滚动条是否到达窗口底部
    $(window).bind('scroll', function () {    //绑定滚动事件
        if ($(document).scrollTop() == 0) {
            $(".mp-top").hide();
        }
        else {
            $(".mp-top").show();
        }
    });



</script>