@using Novel.Entity
@using Novel.Entity.ViewModels
@{
    ViewData["Title"] = "我的书架";
    Layout = "_Layout";
}
<link href="~/css/common-item.css" rel="stylesheet" />
<link href="~/css/mybook.css" rel="stylesheet" />
<script src="~/js/zepto.cookie.min.js"></script>
<script src="~/js/mybook.js"></script>
<style>
    .book-layout {
        width: 85%;
        display: inline-block;
    }

    .aside {
        position: fixed;
        z-index: 3;
        -webkit-transition: visibility .25s;
        transition: visibility .25s;
        bottom: 0;
        width: 100%;
    }

    .btn-button {
        background-color: #FD8000;
        color: white !important;
        display: inline-block;
        line-height: 2.5rem;
        width: 100%;
        text-align: center;
    }

    .ch {
        display: inline-block;
        position: relative;
        margin: 0 .5rem 0 1rem;
        zoom: 150%
    }

    .fl {
        display: flex;
        align-items: center;
    }
</style>
<div class="pure-g">
    <div class="pure-u-1">
        <nav class="btn-group btn-group-small">

            <h3 class="btn-group-cell" role="navigation" aria-label="已选择"><a href="javascript:" id="mbook" class="btn-tab active" style="border-right:0px;">我的书架</a></h3>

            <h3 class="btn-group-cell" role="navigation" aria-label=""><a href="javascript:" id="hbook" class="btn-tab">最近阅读</a></h3>

        </nav>
    </div>

</div>
<div class="pure-g" id="mybook">
    @{ var mybookShelves = ViewData["BookShelves"] as PaginatedList<MyBookShelfViewModel>;}
    @if (mybookShelves != null)
    {
        foreach (var item in mybookShelves)
        {
            string url = item.currentreaditemid == 0 ? item.bookurl : item.currentitemurl;
            <div class="pure-u-1 fl">
                <input type="checkbox" class="ch" value="@item.id">
                <a class="book-layout" href="@url">

                    <img class="pure-img book-cover" src="@item.bookimage" alt="@item.bookname">
                    <div class="book-cell">
                        <h4 class="book-title">@item.bookname</h4>
                        <div class="book-meta">
                            <div class="book-meta1">
                                <span class="book-author">
                                    @item.bookauthor
                                </span>

                                <span class="book-author">
                                    最新章节:
                                    @item.lastitemname
                                </span>
                                <span class="book-author">
                                    @if (item.currentreaditemid > 0)
                                    {
                                        <text> 读至:</text>@item.currentitemname
                                    }
                                    else
                                    {
                                        <text>尚未阅读</text>
                                    }

                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
</div>

<div class="pure-g" id="myhistory">
    @{ var bookReadViewModels = ViewData["HistoryReadBooks"] as List<BookReadViewModel>;}
    @if (bookReadViewModels != null)
    {
        foreach (var item in bookReadViewModels)
        {
            string url = item.currentreaditemid == 0 ? item.bookurl : item.currentitemurl;
            <div class="pure-u-1 fl">
                <input type="checkbox" class="ch" value="@item.id">
                <a class="book-layout" href="@url">
                    <img class="pure-img book-cover" src="@item.bookimage" alt="@item.bookname">
                    <div class="book-cell">
                        <h4 class="book-title">@item.bookname</h4>
                        <div class="book-meta">
                            <div class="book-meta1">
                                <span class="book-author">
                                    @item.bookauthor
                                </span>

                                <span class="book-author">
                                    最新章节:
                                    @item.lastitemname
                                </span>
                                <span class="book-author">
                                    @if (item.currentreaditemid > 0)
                                    {
                                        <text> 读至:</text>@item.currentitemname
                                    }
                                    else
                                    {
                                        <text>尚未阅读</text>
                                    }

                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
</div>
<div class="pure-g">
    <div class="pure-u-1" style="margin-top: 2rem;"></div>
</div>
<div class="pure-g">
    <div class="pure-u-1">
        <div class="aside">
            <nav class="btn-group">
                <a class="btn-button" href="javascript:" onclick="deleted()">删除</a>
            </nav>
        </div>
    </div>
</div>
<script>
    function edit() {
        $(".regular-checkbox + label").show();
    }
    function deleted() {
        var display = $("#mybook").css('display');
        var type = 0;
        var checkedList = $("#mybook input[type='checkbox']:checked");
        if (display != "none") {
            checkedList = $("#mybook input[type='checkbox']:checked");
            type = 1;
        }
        else {
            checkedList = $("#myhistory input[type='checkbox']:checked");
            type = 2;
        }
        if (checkedList.length > 0 && confirm('确实要删除吗?')) {
            var selectBoxs = [];
            for (var i = 0; i < checkedList.length; i++) {
                var bookid = parseInt($(checkedList[i]).val());
                selectBoxs.push(bookid);
                $(checkedList[i]).parent().remove();
            }
            var url = "@Url.Action("RemoveBookRecord", "Book")";
            $.post(url, { id: selectBoxs, type: type }, function (rs) {
                if (rs && rs.status == 0) {
                    for (var i = 0; i < checkedList.length; i++) {
                        $(checkedList[i]).parent().remove();
                    }
                }
                else {
                    alert(rs.msg);
                }
            });
            //location.reload()
        }
    }
</script>