@using Novel.Entity.Models

@{
    ViewData["Title"] = "书客来-手机版-免费小说网站";
    var c = ViewData["cdatas"] as Dictionary<BookCategory, List<Book>>;
}

<style>
    a {
        text-decoration: none;
        color: inherit;
        outline: 0;
    }

    .nav-a {
        display: inline-block;
        width: 20%;
        margin: 1rem 1rem 0 1rem;
    }

        .nav-a img {
            width: 40px;
            margin: 0 auto;
            display: list-item;
        }

    .nav-h {
        margin: 0px;
        text-align: center;
    }
</style>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1">
        @using (Html.BeginForm("Search", "Index", FormMethod.Get, new { style = "margin:1%;", @class = "pure-form", id = "headsearch" }))
        {
            @Html.TextBox("keyword", null, new { @class = "pure-u-1" });
        }
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1" style="text-align:center">
        <a href="@Url.Action("CList","Index")" class="nav-a">
            <img src="~/files/fenlei.png" />
            <h4 class="nav-h">分类</h4>
        </a>
        <a href="@Url.Action("Rank","Index")" class="nav-a">
            <img src="~/files/phb.png" />
            <h4 class="nav-h">排行榜</h4>
        </a>
        <a href="/" class="nav-a">
            <img src="~/files/sc.png" />
            <h4 class="nav-h">收藏榜</h4>
        </a>
    </div>
</div>

<div style="margin:1%;">
    @foreach (var categroy in c)
    {
        <div class="pure-g">
            <div class="pure-u-1">
                <h3 class="content-subhead">@categroy.Key.CategoryName</h3>
            </div>
        </div>
        <div class="pure-g">
            @foreach (var item in categroy.Value)
            {
                <div class="pure-u-1-1 mtop">
                    <a class="book-layout" href="@Url.Action("Novel",new { id=item.BookId })">
                        <img class="pure-img book-cover" src="@item.BookImage" alt="@item.BookName">
                        <div class="book-cell">
                            <h4 class="book-title">@item.BookName</h4>
                            <p class="book-desc">@Html.Raw(item.BookSummary)</p>
                            <div class="book-meta">
                                <div class="book-meta1">
                                    <span class="book-author">
                                        @item.BookAuthor
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            }
        </div>
    }

</div>


