@using Novel.Entity.ViewModels
@using Novel.Utilities
@{
    ViewData["Title"] = "热门推荐";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="content">
    <div class="col-md-12">
        <form class="form-inline" id="headsearch" style="margin:25px 0px 0px 0px;">
            @*@Html.TextBoxFor(m => m.keyword, new { @class = "form-control", style = "width:40%;" })*@
            @Html.TextBox("keyword", null, new { @class = "form-control" })

            <button type="submit" class="btn btn-primary">搜索</button>
            <a href="@Url.Action("EditHot","Index")" class="btn btn-primary">添加推荐</a>

        </form>
    </div>
    <div class="col-md-12" style="margin:25px 0px 0px 0px;">
        <table class="table  table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>年月</th>
                    <th style="width:10%;">书名</th>
                    <th style="width:10%;">排序</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            @{ int index = 1;}
            <tbody>
                @foreach (var item in ViewData["Data"] as PaginatedList<BookRecommendViewModel>)
                {
                    <tr>
                        <td>@index</td>
                        <td>@item.DataYm</td>
                        <td>@item.BookName</td>
                        <td>@item.Order</td>
                        <td>@item.Created</td>
                        <td><a href="@Url.Action("EditHot","Index",new {id=item.Id })" class="btn btn-default" target="_blank">修改</a></td>
                    </tr>
                    index++;
                }

            </tbody>
        </table>
        <pager pager-option="ViewBag.PagerOption as MoPagerOption"></pager>
    </div>
</div>