@using Novel.Entity.Models
@using Novel.Utilities
@using Novel.Common
@model Novel.Entity.ViewModels.TaskSearchViewModel
@{
    ViewData["Title"] = "任务";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int index = 1;

}

<div class="row">
    <div class="col-md-12">
        <form class="form-inline" id="headsearch" style="margin:25px 0px 0px 0px;">
            @Html.TextBoxFor(m => m.k, new { @class = "form-control", style = "width:40%;" })
            @{
                List<SelectListItem> selectListItems = new List<SelectListItem>
                    {
                        new SelectListItem
                        {
                            Text="全部",
                            Value=""
                        }
                    };
                var types = Enum.GetValues(typeof(SyncType));
                foreach (SyncType item in types)
                {
                    selectListItems.Add(new SelectListItem
                    {
                        Text = item.ToDescription(),
                        Value = ((int)item).ToString()
                    });
                }

            }
            @Html.DropDownListFor(m => m.synctype, selectListItems, new { @class = "form-control" })
            <button type="submit" class="btn btn-primary">搜索</button>
            <a href="@Url.Action("EditTask","Index")" class="btn btn-primary">添加任务</a>
        </form>
    </div>
    <div class="col-md-12" style="margin:25px 0px 0px 0px;">
        <table class="table  table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>书名</th>
                    <th style="width:10%;">来源</th>
                    <th style="width:10%;">地址</th>
                    <th style="width:20%;">当前同步章节</th>
                    <th style="width:20%;">错误记录</th>
                    <th>最后更新时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewData["Data"] as List<BookReptileTask>)
                {
                    string desc = ((SyncType)item.SyncType).ToDescription();
                    <tr>
                        <td>@index</td>
                        <td>@item.BookName</td>
                        <td>@desc</td>
                        <td>@item.Url</td>
                        <td>@item.CurrentRecod</td>
                        <td>@item.Remark</td>
                        <td>@item.Updated</td>
                        <td><a href="@Url.Action("EditTask","Index",new {Id=item.Id })"  class="btn btn-default" target="_blank">修改</a></td>
                    </tr>
                    index++;
                }

            </tbody>
        </table>
        <pager pager-option="ViewBag.PagerOption as MoPagerOption"></pager>
    </div>
</div>


